# Patterns Programing

In [5]:
for i in range(5):
    for k in range(5):
        print("*" , end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [6]:
for i in range(5):
    for j in range(5):
        print(i,end = ' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [7]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end = ' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [8]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end = ' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [10]:
for i in range(5):
    for j in range(5):
        print(j,end = ' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

# user define input

In [12]:
rows = int(input("enter the number of rows"))
for i in range(1,rows+1):
    for j in range(1,rows+1):
        print(j,end = ' ')
    print()

enter the number of rows3
1 2 3
1 2 3
1 2 3

In [7]:
rows = int(input("enter the number of rows"))
for i in range(1,rows):

    for j in range(rows-i):
        print(" ", end = ' ')
    for j in range(i):
        print(j,end = ' ')
    print()

enter the number of rows5
        0
      0 1
    0 1 2
  0 1 2 3

In [14]:
rows = int(input("enter the number of rows"))
for i in range(1,rows):
    for j in range(j):
        print("*", end = ' ')
    print()

enter the number of rows5
* * * *
* * *
* *
*

In [20]:
n=4
for i in range(n):
    for j in range(i+1):
        print(j+1,end="")
    for j in range(2*(n-i-1)):
        print(" ",end="")
    for j in range(i+1,0,-1):
        print(j,end="")
    print()

1      1
12    21
123  321
12344321

In [1]:
rows = int(input("enter the number of rows"))
for i in range(1,rows):
    for j in range(1,i+1):
        print(j, end = ' ')
    print()

enter the number of rows6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
k =1
rows = int(input("enter the number of rows"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(k%2, end = ' ')
        k = k+1
    print()

enter the number of rows5
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [9]:
k =1
rows = int(input("enter the number of rows"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(k, end = ' ')
        k =k+1
        
    print()

enter the number of rows5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [10]:

rows = int(input("enter the number of rows"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print((i+j+1)%2, end = ' ')
        
    print()

enter the number of rows5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [21]:
sum = 0
rows = 5
for i in range(1,rows+1):
    sum = sum+i
    temp = sum
    for j in range(1,i+1):
        print(chr(temp+64), end = ' ')
        temp = temp-1
    print()

A
C B
F E D
J I H G
O N M L K

######

In [3]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(i):
        print("*",end = " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [12]:
row = 5
for i in range(row ):
    for j in range(row - i-1):
        print(" ",end =" ")
    for j in range(2*i+1):
        print("*",end = " ")
    print()
for i in range(row ):
    for j in range(i):
        print(" ",end =" ")
    for j in range(2*(row+row)-2*row-(row+row)+1):
        print("*",end = " ")
        

    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *

In [18]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(1,i+1):
        print(j,end = " ")
    for j in range(0,i-1):
        print(j,end = " ")
    print()

        1
      1 2 0
    1 2 3 0 1
  1 2 3 4 0 1 2
1 2 3 4 5 0 1 2 3

In [22]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(1,i+1):
        print(j,end = " ")
    for j in range(i-1,0,-1):
        print(j,end = " ")
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [62]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(row,row-i,-1):
        print(j,end = " ")
    for j in range(row+2-i,row+1,1):
        print(j,end = " ")
    print()

        5
      5 4 5
    5 4 3 4 5
  5 4 3 2 3 4 5
5 4 3 2 1 2 3 4 5

In [71]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(i,0,-1):
        print(j,end = " ")
    for j in range(2,i+1,1):
        print(j,end = " ")
    print()

        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [13]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(i,0,1):
        print(i,end = " ")
    print()

In [9]:
n = 5
for i in range(1,n + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for k in range(1,i+1):
        print(i,end= " ")
        i = (i+n-k)
    print()

        1
      2 6
    3 7 10
  4 8 11 13
5 9 12 14 15

In [12]:
row = 5
for i in range(1,row + 1):
    k =i
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(i):
        print(k,end = " ")
        k =k+row-1-j
    print()

        1
      2 6
    3 7 10
  4 8 11 13
5 9 12 14 15

In [4]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(i):
        print("*",end = " ")
    for j in range(i-1):
        print("*",end = " ")
    print()
for i in range(1,row):
    for j in range(i):
        print(" ",end = " ")
    for j in range(row-i):
        print("*",end =" ")
    for j in range(row-i-1):
        print("*",end= " ")
    
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [36]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(1,i+1):
        print(j,end = " ")
    for j in range(i-1,0,-1):
        print(j,end = " ")
    print()
for i in range(1,row):
    for j in range(i):
        print(" ",end=" ")
    for j in range(1,row-i+1):
        print(j,end =" ")
    for j in range(row-i-1,0,-1):
        print(j,end= " ")
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
  1 2 3 4 3 2 1
    1 2 3 2 1
      1 2 1
        1

In [50]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(1,i+1):
        print(6-j,end = " ")
    for j in range(i-1,0,-1):
        print(6-j,end = " ")
    print()
for i in range(1,row):
    for j in range(i):
        print(" ",end=" ")
    for j in range(1,row-i+1):
        print(6-j,end =" ")
    for j in range(row-i-1,0,-1):
        print(6-j,end= " ")
    print()

        5
      5 4 5
    5 4 3 4 5
  5 4 3 2 3 4 5
5 4 3 2 1 2 3 4 5
  5 4 3 2 3 4 5
    5 4 3 4 5
      5 4 5
        5

In [14]:
row = 6
col = 7
for i in range (row):
    for j in range (col):
        if((i == 1 and j%3==0)or(i==0 and j%3!=0)or(i-j==2)or(i+j==8)):
            print("*",end=' ')
        elif(i==2 and j == 2):
            print("R",end = " ")
        
        elif(i==2 and j == 3):
            print("C",end = " ")
    
        elif(i==2 and j == 4):
            print("B",end = " ")    
        
        else:
            print(' ',end=' ')
            
    print()

  * *   * *
*     *     *
*   R C B   *
  *       *
    *   *
      *

In [26]:
row = 6
col = 7
for i in range (row):
    for j in range (col):
        if((i == 4 and j%3==0)or(i==5 and j%3!=0)or(i+j==3)or(j-i==3)):
            print("*",end=' ')
            
        elif(i==3 and j == 2):
            print("R",end = " ")
        
        elif(i==3 and j == 3):
            print("C",end = " ")
    
        elif(i==3 and j == 4):
            print("B",end = " ")
       
        else:
            print(' ',end=' ')
            
    print()

      *
    *   *
  *       *
*   R C B   *
*     *     *
  * *   * *

In [28]:
row = 6
col = 7
for i in range (row):
    for j in range (col):
        if((i == 1 and j%3==0)or(i==0 and j%3!=0)or(i-j==2)or(i+j==8)):
            print("*",end=' ')
        elif(i==2 and j == 2):
            print("R",end = " ")
        
        elif(i==2 and j == 3):
            print("C",end = " ")
    
        elif(i==2 and j == 4):
            print("B",end = " ")    
        
        else:
            print(' ',end=' ')
            
    print()
row = 6
col = 7
for i in range (1,row):
    for j in range (col):
        if((i == 4 and j%3==0)or(i==5 and j%3!=0)or(i+j==3)or(j-i==3)):
            print("*",end=' ')
            
        elif(i==3 and j == 2):
            print("R",end = " ")
        
        elif(i==3 and j == 3):
            print("C",end = " ")
    
        elif(i==3 and j == 4):
            print("B",end = " ")
       
        else:
            print(' ',end=' ')
            
    print()

  * *   * *
*     *     *
*   R C B   *
  *       *
    *   *
      *
    *   *
  *       *
*   R C B   *
*     *     *
  * *   * *

In [29]:
row = 6
col = 6
for i in range (row):
    for j in range (col):
        if((i == 0 or j==0 or j==row-1 or i==row-1)):
            print("*",end=' ')
        else:
            print(" ",end=" ")
            
    print()

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [35]:
row = 6
col = 6
for i in range (row):
    for j in range (col):
        if((j == 0 or i==j or i==row-1  )):
            print("*",end=' ')
        else:
            print(" ",end=" ")
            
    print()

*
* *
*   *
*     *
*       *
* * * * * *

In [40]:
row = 9
col = 9
for i in range (row):
    for j in range (col):
        if((i == 0 )or (j==0) or (i == row//2) or (j== row//2) or (i==j) or (i+j == row-1) or (j==row-1) or (i==row-1)):
            print("*",end=' ')
        else:
            print(" ",end=" ")
            
    print()

* * * * * * * * *
* *     *     * *
*   *   *   *   *
*     * * *     *
* * * * * * * * *
*     * * *     *
*   *   *   *   *
* *     *     * *
* * * * * * * * *

In [5]:
row = 5
for i in range(1,row):
    for j in range(i):
        print(" ",end = " ")
    for j in range(row-i):
        print("*",end =" ")
    print()
    +3.

  * * * *
    * * *
      * *
        *

In [26]:
sum = 0
rows = 5
for i in range(1,rows+1):
    sum = sum+i
    temp = sum
    for j in range(1,i+1):
        print(temp, end = ' ')
        temp = temp-1
    print()

1
3 2
6 5 4
10 9 8 7
15 14 13 12 11

In [24]:
row = 5
for i in range(1,row+1):
    for j in range(row-i):
        print(" ",end = " ")
    for j in range(i):
        print("*",end = " ")
    for j in range(i-1):
        print("*",end = " ")
    print()
for i in range(1,row):
    for i in range(i):
        print(" ",end= " ")
    for j in range(row-i):
        print("*",end = " ")
    for j in range(row-i-1):
        print("*",end = " ")
    
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *

In [ ]:
for j  in ra

In [34]:
row = 5
for i in range(1,row + 1):
    for j in range(row - i):
        print(" ",end =" ")
    for j in range(i):
        print("*",end = " ")
    for j in range(i-1):
        print("*",end = " ")
    print()
for i in range(1,row):
    for j in range(i):
        print(" ",end = " ")
    for j in range(row-i):
        print("*",end =" ")
    for j in range(row-i-1):
        print("*",end= " ")
    
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [32]:
    
row = 5
for i in range(1,row+1):
    for j in range(row-i):
        print(" ",end = " ")
    for j in range(i):
        print("*",end = " ")
    for j in range(i-1):
        print("*",end = " ")
    print()
for i in range(1,row):
    for i in range(i):
        print("|",end= " ")
    for j in range(row-i):
        print("*",end = " ")

    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
| * * * * *
| | * * * *
| | | * * *
| | | | * *

In [52]:
n=5
for i in range(2*n):
    if i<n:
        for j in range(n-i):
            print(" 
                  
                  
                  
                  
                  
                  ",end = " ")
        for k in range(2*i+1):
            print("*",end = " ")
        print()
    else:
        for j in range(i-n+2):
            print(" ",end = " ")        
        for j in range(2*(n+n)-2*i-3):
            print("*",end = " ")
        print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [49]:
i=5
n=5
(2*(n+n)-2*i-3)

7

In [41]:
n = 5
for i in range(2*n):
    if i<n:
        for j in range(i+1):
            print("*",end = " ")
    else:
          for j in range(i,2*n-1):
            print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*