# fibonoccie series

In [1]:
n = int(input("enter a fibonoccie series number "))
n1 = 0
n2 = 1
count = 2

if n < 0:
    print("please enter a positive number ")
elif n == 1:
    print(n1)
else:
    print(n1)
    print(n2)
    while count <= n :
        n3 = n1 + n2
        print(n3)
        count += 1
        n1 = n2
        n2 = n3

enter a fibonoccie series number 10
0
1
1
2
3
5
8
13
21
34
55

In [4]:
n = int(input("enter the fibonacci series "))
n1 = 0
n2 = 1
print("fibonaccies series",n1 ,n2,end = ' ')

for i in range(2,n):
    n3 = n1+n2
    n1 = n2
    n2 = n3
    print(n3,end = ' ')

enter the fibonacci series 5
fibonaccies series 0 1 1 2 3

# FIND OUT A DUPLICATION VALUE

In [1]:
l = [0,1,1,5,3,0,3,4,0,0]
p =[]
z = []
for i in l:
    if i>0:
        p.append(i)
    elif i == 0:
        z.append(i)
        
no_dup= []
for j in p:
    if j not in no_dup:
        no_dup.append(j)
        
print(no_dup + z)

[1, 5, 3, 4, 0, 0, 0, 0]

In [3]:
l = [0,1,1,5,3,0,3,4,0,0]
p =[]
z = []
for i in l:
    if i>=0:
        p.append(i)
    
        
no_dup= []
for j in p:
    if j not in no_dup:
        no_dup.append(j)
        
print(no_dup + z)

[0, 1, 5, 3, 4]

In [4]:
l = [0,1,1,5,3,0,3,4,0,0]        
no_dup= []
for j in l:
    if j not in no_dup:
        no_dup.append(j)
        
print(no_dup)

[0, 1, 5, 3, 4]

In [8]:
data = [0,0,1,1,2,2,3,3,4,4]

def remove_duplication(element):
    no_dup =  []
    for i in element:
        if i not in no_dup:
            no_dup.append(i)
    return no_dup
print(remove_duplication(data))

[0, 1, 2, 3, 4]

# Factorial number

In [10]:
def factorial(n):
    if n == 0 or n == 1 :
        return 1
    else:
        return n*factorial(n-1)

n = int(input("enter a number that u want factorial of that"))
res = factorial(n)
print(res)

enter a number that u want factorial of that5
120

In [7]:
def fectorial(n):
    if (n == 0 or n == 1):
        return 1
    else:
        return n*factorial(n-1)
n = int(input("enter the factorial number "))
res = factorial(n)
print(res)

enter the factorial number 5
120

# Reverse a string

In [11]:
def reverse(string):
    rev_str = " "
    for i in string:
        rev_str = i + rev_str
    print("revers string is ",rev_str)

string = str(input("enter a string "))
print("entered string is",string)
reverse(string)

enter a string Yathi
entered string is Yathi
revers string is  ihtaY

In [6]:
def reverse(string):
    temp = ""
    for i in string:
        temp = i+temp
    print("reverse string is ",temp)
string = input("enter a string")
print("entered string is " , string)
reverse(string)

enter a stringmemory
entered string is  memory
reverse string is  yromem

In [1]:
a = ()
print(a)

()

In [3]:
a=str()
print(a)

remove duplication value from string

In [1]:
l = input("enter a string")        
new = " "
for i in l:
    if i not in new:
        new = new+i        
print(new)

enter a stringhello
 helo

## max number the list

In [8]:
l = [3,4,6,7,8,95]
max = l[0]
for i in l:
    if i>max:
        max = i
print(max)

95

In [6]:
def find_max(list):
    max = list[0]
 
    
    for i in list:
        if i > max: 
            max = i
    return max
list = [1,2,3,4,5,6,7,8,95]
max = find_max(list)
print("maximum",max)

maximum 95

In [6]:
def find_max(list):
    n = list[0]
    second_largest = float('-inf')
    
    for i in list:
        if i > n:
            second_largest = n
            n = i
           
        
    
    return second_largest

list = [1, 2, 3, 4, 5, 6, 67, 8, 95]
second_max = find_max(list)
print("Second maximum:", second_max)

Second maximum: 67

In [1]:
def find_max(lst):
   
    max_value = lst[0]
    second_largest = float('-inf')
    for i in lst:
        if i > max_value:
            second_largest = max_value
            max_value = i
    return second_largest


lst = [1, 2, 3, 4, 599, 6, 57, 8, 95]
second_larges = find_max(lst)
print("Second maximum:", second_largest)

NameError: name 'second_largest' is not defined

In [2]:
def find_max(lst):
   
    max_value = lst[0]
    second_largest = float('-inf')
    for i in lst:
        if i > max_value:
            second_largest = max_value
            max_value = i
    return second_largest


lst = [1, 2, 3, 4, 55, 6, 7, 8, 95]
second_largest = find_max(lst)
print("Second maximum:", second_largest)

Second maximum: 55

In [2]:
def second_largest(list):
    firs = list[0]
    second = float('-inf')
    
    for i in list:
        if i > firs:
            second = firs
            firs = i
            
    return second

list = [1,2,3,4,5,555,6,8,98]
ans = second_largest(list) 
print("second largest",ans)

second largest 5

# armstrong number

In [1]:
def count_number(num):
    count = 0
    while num != 0:
        num = num//10
        count += 1
    return count

def armstrong(num):
    digit = count_number(num)
    res = 0
    while (num != 0):
        rem = num%10
        res = rem**digit + res
        num = num//10
    return res

num = 1634
res = armstrong(num)
if res == num:
    print("armstrong")
else:
    print("it is not")

armstrong

In [3]:
def count_number(num):
    count = 0
    while num != 0:
        num = num//10
        count += 1
    return count

def armstrong(num):
    digit = count_number(num)
    res = 0
    while (num != 0):
        rem = num%10
        res = rem**digit + res
        num = num//10
    return res

for k in range(1,10001):
    num = k
    res = armstrong(num)
    if res == num:
        print(num)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474

In [8]:
string = str(input("emter a string"))
revers = ' '
words = string.split(" ")

for i in words:
    revers = i+' '+revers
print(revers)

emter a stringhello word
word hello

In [17]:
string = str(input("emter a string"))
revers = ' '
word = string.split()


for i in word:
    if i not in revers:
        revers = revers+' '+i
        
print(revers)

emter a stringhello world hello
  hello world

In [ ]:
s