# string slicing

In [1]:
str = "RajaRamMohanRoy"
print(str)

RajaRamMohanRoy

In [2]:
print(str[0])

R

In [3]:
print(str[-1])

y

In [4]:
print(str[-15])

R

In [5]:
print(str[0:4])

Raja

In [6]:
print(str[4:7])

Ram

In [7]:
print(str[7:12])

Mohan

In [8]:
print(str[12:])

Roy

In [9]:
print(str[ :8])

RajaRamM

In [10]:
print(str[ : ])

RajaRamMohanRoy

In [11]:
print(str[ : :-1])

yoRnahoMmaRajaR

In [12]:
print(str[9:2])

In [13]:
print(str[-4:-9])

In [14]:
print(str[-4:-9:-1])

nahoM

In [15]:
print(str[-5: :-1])

ahoMmaRajaR

In [16]:
print(str[ : :3])

RamhR

In [17]:
print(str[12:6:-1])

RnahoM

In [18]:
print(str[6: :-1])

maRajaR

In [19]:
print(str[:-12])

Raj

In [20]:
print(str[ :8:-1])

yoRnah

In [21]:
print(str[7:13:0])

ValueError: slice step cannot be zero

In [22]:
str1 = "rama"
str2 = "sita"
str3 = str1 + str2
print(str3)

ramasita

In [23]:
str4 = str1 - str2
print(str4)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [24]:
str5 = str1 * str2
print(str5)

TypeError: can't multiply sequence by non-int of type 'str'

In [26]:
str6 = str1 * 3
print(str6)

ramaramarama

str7 = str1/str2
print(str7)

In [27]:
str7 = str1/str2 
print(str7)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [3]:
print('enter a character')
data = input()
asciiv = ord(data)
print(asciiv)

enter a character
a
97

In [5]:
print('enter a str1')
str1 = input()
print('enter a str2')
str2 = input()
if(str1>str2):
    print('str1 is greater')
elif(str2>str1):
    print('str2 is greater')
else:
    print("str1 = str2")

enter a str1
rama
enter a str2
ramu
str2 is greater

In [4]:
r1 = str(input("enter a character"))
i = 0
newstr = " "
while(i<=len(r1)-1):
    data = r1[i]
    asciiv = ord(data)
    if(asciiv>=65 and asciiv<=90):
        newasciiv = asciiv+32
        convchar = chr(newasciiv)
        newstr = newstr+convchar
    else:
        newstr = newstr+data
    i = i+1
print(newstr)

enter a characterYatheesh
 yatheesh

In [6]:
r1 = str(input("enter a character "))
i = 0
newstr = " "
while(i<=len(r1)-1):
    data = r1[i]
    asciiv = ord(data)
    if(asciiv>=97 and asciiv<=122):
        newasciiv = asciiv-32
        convchar = chr(newasciiv)
        newstr = newstr+convchar
    else:
        newstr = newstr+data
    i = i+1
print(newstr)

enter a character yathi
 YATHI

In [3]:
r1 = str(input("enter a character "))
i = 0
newstr = " "
while(i<=len(r1)-1):
    data = r1[i]
    asciiv = ord(data)
    if(asciiv>=65 and asciiv<=90):
        newasciiv = asciiv+32
        convchar = chr(newasciiv)
        newstr = newstr+convchar
    else:
        newasciiv = asciiv-32
        convchar = chr(newasciiv)
        newstr = newstr+convchar
    i = i+1
print(newstr)

enter a character RaMa
 rAmA

In [5]:
str = "rama is drinking"
print(str)

rama is drinking

In [7]:
str1= str.replace("is","was")

print(str1)

rama was drinking

In [15]:
str = "if you think you cam or you can't , you are right"
print(str)
print(str.count("you"))
str1 = "you"
print(str1 in str)
print(str.find("you"))
print(str.rfind("you"))
print(str.index("you"))
print(str.rindex("you"))
print(str.find("rama"))
print(str.index("rama"))

if you think you cam or you can't , you are right
4
True
3
36
3
36
-1

ValueError: substring not found

In [16]:
str = "   rama is sleeping   "
print(str)
str1 = str.lstrip()
str2 = str.rstrip()
str3 = str.strip()
print(str1)
print(str2)
print(str3)

   rama is sleeping
rama is sleeping
   rama is sleeping
rama is sleeping

In [41]:
str = "R a M a"
print(str)
i = 0
newstr = ''
while(i<=len(str)-1):
    extract = str[i]
    if extract is space:
        i += 1
        
    else:  
        newstr = newstr+extract
        i += 1
        
print(newstr)

R a M a
RaMa

In [13]:
str = "A man, a plan, a canal: Panama"
print(str)
i = 0
newstr = ''
while(i<=len(str)-1):
    extract = str[i]
    if extract == ' 'or extract == ',' or extract == ':':
        i += 1
        
    
        
    else:  
        newstr = newstr+extract
        i += 1
        

        
new = newstr.lower()
print(new)

abhi = ""
for k in new:
    abhi = k+abhi
print(abhi)

if abhi == new:
    print("yes")
else:
    print("no")

A man, a plan, a canal: Panama
amanaplanacanalpanama
amanaplanacanalpanama
yes

In [2]:
class Demo :
    def add(self, x,y):
        z = x + y
        return z
    
    def sub(self ,x,y):
        z = x - y
        return z
    
    def mul(self, x,y):
        z = x * y
        return z
    
    def div(self, x,y):
        z = x / y
        return z
    
d = Demo()
a =10
b = 20
r1 = d.add(a,b)
r2 = d.sub(a,b)
r3 = d.mul(a,b)
r4 = d.div(a,b)
print(r1)
print(r2)
print(r3)
print(r4)

30
-10
200
0.5

In [4]:
class Demo:
    def arith(self,x,y):
        z1 = x+y
        z2 = x-y
        z3 = x*y
        z4 = x/y
        return z1,z2,z3,z4
    
d = Demo()
a =10
b = 20
r1,r2,r3,r4 = d.arith(a,b)
print(r1)
print(r2)
print(r3)
print(r4)

30
-10
200
0.5

In [6]:
class Demo:
    x =10
    
    def __init__ (self):
        self.y = 20
        self.z = 30
        
    def disp(self):
        a = 100
        b = 200
        c = a+b
        print(c)
        
d = Demo()
print(d.y)
print(d.z)
d.disp()
print(Demo.x)

20
30
300
10

# Function

In [1]:
def fun():
    a = 10
    b =20
    c =a + b
    print(c)
fun()

30

In [2]:
def fun():
    a = 10
    b = 20
    c = a+b
    return c
r1 = fun()
print(r1)

30

In [3]:
def fun(a,b):
    c = a+b
    print(c)
x = 10
y = 20
fun(x,y)

30

In [4]:
def fun(a,b):
    c = a+b
    return c
x = 10
y = 20
r1 = fun(x,y)
print(r1)

30

In [6]:
# default and keyword argument

def fun (x = 11,y =22,z =33):
    print(x)
    print(y)
    print(z)
a = 10
b = 20
c = 30
fun(a,b,c)

10
20
30
10
20
33
10
20
30

In [7]:
def fun (x = 11,y =22,z =33):
    print(x)
    print(y)
    print(z)
a = 10
b = 20
c = 30
fun(a,b)

10
20
33

In [8]:
def fun (x = 11,y =22,z =33):
    print(x)
    print(y)
    print(z)
a = 10
b = 20
c = 30
fun(b)

20
22
33

In [9]:
def fun (x = 11,y =22,z =33):
    print(x)
    print(y)
    print(z)
a = 10
b = 20
c = 30
fun()

11
22
33

In [10]:
def fun (x = 11,y =22,z =33):
    print(x)
    print(y)
    print(z)
a = 10
b = 20
c = 30
fun(z = c)

11
22
30

In [11]:
def fun (x = 11,y =22,z =33):
    print(x)
    print(y)
    print(z)
a = 10
b = 20
c = 30
fun(y =b)

11
20
33

In [12]:
def fun (x = 11,y =22,z =33):
    print(x)
    print(y)
    print(z)
a = 10
b = 20
c = 30
fun(z = a)

11
22
10

In [13]:
a = 10
def fun():
    print(a)
    b = 20
    print(b)
def fun1():
    print(a)
    c = 30
    print(c)
print(a)
fun()
fun1()
print(a)

10
10
20
10
30
10

In [14]:
a = 10
def fun():
    a = 100
    b = 20
    print(a)
    print(b)
def fun1():
    a = 1000
    c = 30
    print(a)
    print(c)
print(a)
fun()
fun1()
print(a)

10
100
20
1000
30
10

In [17]:
a = 10
def fun():
    global a
    a = 100
    b = 20
    print(a)
    print(b)
def fun1():
    global a
    a = 1000
    c = 30
    print(a)
    print(c)
print(a)
fun()
fun1()
print(a)

100
20
1000
30
1000

In [18]:

def fun():
    global a
    a = 100
    b = 20
    print(a)
    print(b)
def fun1():
    global a
    a = 1000
    c = 30
    print(a)
    print(c)
fun()
fun1()
print(a)

100
20
1000
30
1000

In [5]:
def fun1():
    print("function invoking")
    
def fun2(x,y):
    z = x * y
    print(z)
    
print(fun1)
print(fun2)
fun1()

a = 10
b =20
fun2(a,b)
ptr1 = fun1
ptr2 = fun2
ptr1()
ptr2(10,20)

<function fun1 at 0x0000014AFB6FA160>
<function fun2 at 0x0000014AFD2E34C0>
function invoking
200
function invoking
200

In [13]:
def fun1():
    print("function invoking")
    
def fun2(x,y):
    z = x * y
    print(z)
    
def display(ptr1,ptr2):
    ptr1()
    ptr2(30,40)
    
print(fun1)
print(fun2)
fun1()

a = 10
b =20
fun2(a,b)
ptr1 = fun1
ptr2 = fun2
ptr1()
ptr2(10,20)
display(ptr3,ptr4)

<function fun1 at 0x0000014AFB6CAF70>
<function fun2 at 0x0000014AFD394040>
function invoking
200
function invoking
200
function invoking
1200

# Lambda function


lambda function take any number of arguments but it can give one expression

In [15]:
def square(num):
    return num*num
s = lambda num : num*num
res = s(5)
print(res)

25

In [16]:
def add(x,y):
    return x+y
s1 = lambda x,y : x+y
res = s1(2,8)
print(res)

10

In [23]:
l =[]
i = 0
while(i<= 4):
    print("enter the number")
    num = int(input())
    l.insert(i,num)
    i = i+1
for i in l:
    print(i)

enter the number
10

enter the number
20

enter the number
30

enter the number
40

enter the number
50

10
20
30
40
50

In [30]:
l =[]
i = 0
while(i<= 4):
    print("enter the number")
    num = int(input())
    l.insert(i,num)
    i = i+1
i =0
while(i<=4):
    print(l[i])
    i=i+1

enter the number
10
enter the number
20
enter the number
30
enter the number
40
enter the number
50
10
20
30
40
50

In [5]:
num = [1,2,3,4,5,6,7]


for i in num:
    if i%2 == 0:
        print(i)

2
4
6

In [9]:
def even(num):
    if(num%2 == 0):
        return True
    else:
        return False
        
l =[]
i =0
while(i<=4):
    print("enter a values")
    num = int(input())
    l.insert(i,num)
    i = i+1
i =0
while(i<=4):
    data = l[i]
    status = even(data)
    if(status == True):
        print(l[i])
    i += 1

enter a values
10
enter a values
15
enter a values
12
enter a values
14
enter a values
45
10
12
14

In [12]:
def even(num):
    if(num%2 == 0):
        return True
    else:
        return False
        
l =[]
i =0
while(i<=4):
    print("enter a values")
    num = int(input())
    l.insert(i,num)
    i = i+1

k = list(filter(even,l))
print(k)

enter a values
12
enter a values
13
enter a values
14
enter a values
15
enter a values
111111116
[12, 14, 111111116]

In [13]:
def even(num):
    if(num%2 == 0):
        return True
    else:
        return False
        
l =[]
i =0
while(i<=4):
    print("enter a values")
    num = int(input())
    l.insert(i,num)
    i = i+1

k = list(filter(lambda num :(num%2==0),l))
print(k)

enter a values
12
enter a values
13
enter a values
14
enter a values
15
enter a values
16
[12, 14, 16]

In [16]:
def operation(data):
    return data+10

l =[]
i =0
while(i<=4):
    print("enter a number")
    num = int(input())
    l.insert(i,num)
    i = i+1
    
k = list(map(operation,l))
print(k)

enter a number
1
enter a number
2
enter a number
3
enter a number
4
enter a number
5
[11, 12, 13, 14, 15]

In [1]:
def even(num):
    if(num%2 == 0):
        return True
    else:
        return False
        
l =[]
i =0
while(i<=4):
    print("enter a values")
    num = int(input())
    l.insert(i,num)
    i = i+1

k = list(map(lambda data:(data+10),l))
print(k)

enter a values
1
enter a values
2
enter a values
3
enter a values
4
enter a values
5
[11, 12, 13, 14, 15]

#  Nested fun

In [9]:
def outer():
    print("inside outer")
    
    def inner():
        print("inside fun" )
    inner()
outer()

inside outer
inside fun

In [10]:
def fun():
    a = 10
    print(a)
    def fun1():
        b = 20
        print(b)
        print(a)
    fun1()
    
fun()

10
20
10

In [11]:
def fun():
    a = 10
    b = 20
    print(a)
    print(b)
    def fun1():
        b = 20
        print(b)
        print(a)
    print(a)
    fun1()
    
fun()

10
20
10
20
10

In [17]:
def fun():
    a = 10
    b = 20
    print(a)
    print(b)
    def fun1():
        a = 100
        b = 20
        c = 30
       
        print(a)
        print(b)
        print(c)
    print(a)
    fun1()
    print(b)
    print(c)
    
fun()

10
20
10
100
20
30
20

NameError: name 'c' is not defined

In [18]:
 def fun():
        a = 10
        print(a)
        
        def fun1():
            nonlocal a
            a = 100
            b = 20
            print(a)
            print(b)
        fun1()
fun()

10
100
20

In [19]:
x = 10
def fun():
    x = 15
    def  fun1():
        x = 20
        print(x)
    fun1()
    
fun()

20

In [1]:
def outer():
    print("inside outer")
    
    def inner():
        print("inside inner")
    return inner

res = outer()
print(res)
res()

inside outer
<function outer.<locals>.inner at 0x0000020D7B11A310>
inside inner

In [2]:
def print_msg():
    msg = "hello world"
    return msg

def outer(ptr3):
    print("entering outer")
    
    def inner():
        print("entering inner")
        ref = ptr3
        newv = ref()
        newstr = newv.upper()
        print(newstr)
        print("leaving inner")
    return inner

ptr1 = print_msg
ptr2 = outer(ptr1)
ptr2()
print("pgm end")

entering outer
entering inner
HELLO WORLD
leaving inner
pgm end

#####

# Encapsulation

In [6]:
class Book:
    def __init__(self,values):
        self.pages = values
        
        
b1 = Book(100)
print(b1.pages)

100

In [9]:
class Book:
    def __init__(self,values):
        self.__pages = values
        
        
b1 = Book(100)
print(b1.pages)

AttributeError: 'Book' object has no attribute 'pages'

In [11]:
class Book:
    def __init__(self,values):
        self.__pages = values
        
        
    def setter(self,values):
        if(values>0):
            self.__pages=values
            
    def getter(self):
        return self.__pages
        
        
b1 = Book(100)
b1.setter(114)

res = b1.getter()
print(res)

b1.setter(-99)
res = b1.getter()
print(res)

114
114

In [13]:
class Student:
    def __init__(self):
        self.__name = " "
        
    def getter(self):
        return self.__name
    
    def setter(self,value):
        self.__name = value
        
s1 = Student()
s1.setter("Rama")
ref = s1.getter()
print(ref)

Rama

In [16]:
class Student:
    def __init__(self):
        self.__name = " "
        
    def getter(self):
        return self.__name
    
    def setter(self,value):
        self.__name = value
        
    getset = property(getter,setter)
        
s1 = Student()
s1.getset = "rama"
ref = s1.getset
print(ref)

rama

# Inheritance

In [2]:
class Parent:
    def __init__(self):
        self.a = 10
        
class Child(Parent):
    def __init__(self):
        Parent.__init__(self)
        self.b = 20
        
d = Child()
print(d.b)
print(d.a)

20
10

In [3]:
class Parent:
    def __init__(self):
        self.a = 10
        
class Child(Parent):
    def __init__(self):
       
        self.b = 20
        
d = Child()
print(d.b)
print(d.a)

20

AttributeError: 'Child' object has no attribute 'a'

In [4]:
class Parent:
    def __init__(self):
        self.a = 10
        
class Child(Parent):
    def __init__(self):
        Parent.__init__(self)
        self.b = 20
        
class Child2(Child):
    def __init__(self):
        Child.__init__(self)
        self.c1 = 30
        
cf = Child2()
print(cf.b)
print(cf.a)
print(cf.c1)

20
10
30

In [5]:
class Cargoplane():
    def takeoff(self):
        print("plane is takeoff")
        
    def fly(self):
        print("plane is flying")
        
    def land(self):
        print("plane is landing")
        
    def carrye(self):
        print("plane carry goods")
        
class Passengerplane():
    def takeoff(self):
        print("plane is takeoff")
        
    def fly(self):
        print("plane is flying")
        
    def land(self):
        print("plane is landing")
        
    def carryp(self):
        print("plane carry passengers")
        
class Fighterplane():
    def takeoff(self):
        print("plane is takeoff")
        
    def fly(self):
        print("plane is flying")
        
    def land(self):
        print("plane is landing")
        
    def carryw(self):
        print("plane carry weapons")
        
c = Cargoplane()
p = Passengerplane()
f = Fighterplane()
c.takeoff()
c.fly()
c.land()
c.carrye()
p.takeoff()
p.fly()
p.land()
p.carryp()
f.takeoff()
f.fly()
f.land()
f.carryw()

plane is takeoff
plane is flying
plane is landing
plane carry goods
plane is takeoff
plane is flying
plane is landing
plane carry passengers
plane is takeoff
plane is flying
plane is landing
plane carry weapons

In [6]:
class Plane:
    def takeoff(self):
        print("plane is takeoff")
        
    def fly(self):
        print("plane is flying")
        
    def land(self):
        print("plane is landing")
    

class Cargoplane(Plane):
    
        
    def carrye(self):
        print("plane carry goods")
        
class Passengerplane(Plane):
    
        
    def carryp(self):
        print("plane carry passengers")
        
class Fighterplane(Plane):

        
    def carryw(self):
        print("plane carry weapons")
        
c = Cargoplane()
p = Passengerplane()
f = Fighterplane()
c.takeoff()
c.fly()
c.land()
c.carrye()
p.takeoff()
p.fly()
p.land()
p.carryp()
f.takeoff()
f.fly()
f.land()
f.carryw()

plane is takeoff
plane is flying
plane is landing
plane carry goods
plane is takeoff
plane is flying
plane is landing
plane carry passengers
plane is takeoff
plane is flying
plane is landing
plane carry weapons

In [12]:
class Animal:
    def breath(self):
        print("animal is breathing")
        
    def eat(self):
        print("eating")
        
    def sleep(self):
        print("sleeping")
    

class Tiger(Animal):
    def eat(self):
        print("tiget hunt and eat")
class Dog(Animal):
    pass
        
class Monkey(Animal):
    pass
    
c = Tiger()
d = Dog()
m = Monkey()
c.breath()
c.eat()

animal take breathing
tiget hunt and eat

In [6]:
class A:
    def __init__(self):
        self.a = 10
        
class B(A):
    def __init__(self):
        super().__init__()
        self.b = 20

class C(B):
    def __init__(self):
        super().__init__()
        self.c = 30
        
cf = C()
print(cf.c)
print(cf.b)
print(cf.a)

30
20
10