# Patterns Programing

In [5]:
for i in range(5):
    for k in range(5):
        print("*" , end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [6]:
for i in range(5):
    for j in range(5):
        print(i,end = ' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [7]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end = ' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [8]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end = ' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [10]:
for i in range(5):
    for j in range(5):
        print(j,end = ' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

# user define input

In [12]:
rows = int(input("enter the number of rows"))
for i in range(1,rows+1):
    for j in range(1,rows+1):
        print(j,end = ' ')
    print()

enter the number of rows3
1 2 3
1 2 3
1 2 3

In [13]:
rows = int(input("enter the number of rows"))
for i in range(1,rows):
    for j in range(i):
        print("*", end = ' ')
    print()

enter the number of rows6
*
* *
* * *
* * * *
* * * * *

In [14]:
rows = int(input("enter the number of rows"))
for i in range(1,rows):
    for j in range(j):
        print("*", end = ' ')
    print()

enter the number of rows5
* * * *
* * *
* *
*

In [15]:
rows = int(input("enter the number of rows"))
for i in range(1,rows):
    for j in range(i):
        print(i, end = ' ')
    print()

enter the number of rows5
1
2 2
3 3 3
4 4 4 4

In [18]:
rows = int(input("enter the number of rows"))
for i in range(1,rows):
    for j in range(i):
        print(j, end = ' ')
    print()

enter the number of rows6
0
0 1
0 1 2
0 1 2 3
0 1 2 3 4